*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'BPG Arial';
}
ul{
    list-style: none;
    align-items: center;
}
header{
    background-color: blue;
}
.fullheader{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.navigation ul{
    display: flex;
}
.contact{
    padding: 10px 24px;
    border-radius: 30px;
    background-color: white;
}
.contactbeck{
    color: black;
}
.nav{
    margin:0 15px;
}
.sendvitch{
    display: none;
}
.first{
    background-color: blue;
}
.firstblock{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    padding-bottom: 40px;
}
.firstpicblock{
    display: flex;
    flex-direction: column;
}
.firstpic{
    /* width: 450px; */
    height: 400px;  
    margin-top: 50px;
}
.firstpic img{
    width: 100%;
    height: 100%;
}
.secpic{
    width: 630px;
    height: 500px;
}
.secpic img{
    width: 100%;
    height: 100%;
}
.dots{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.dots span{
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius:90px;
    margin:0px 7px;
}
.dots2{
    display: none;
}
.secblock{
    padding-bottom: 100px;
}
.firstarticle{
    display: flex;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding-top: 130px;
}
.articletext{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-right: 60px;
}
.articleimg{
    margin-top: 180px;
    box-shadow: 10px 10px blue;
    border-radius: 20px;
}
.articleimg img{
    height: 100%;
    width: 100%;
}
h2{
    margin-bottom: 40px;
    font-family: 'ArchyEDT-Bold';
}
.articletext p{
    margin-top: 20px;
    font-size: 14px;
    font-family: 'BPG Arial';
}
.articletext2{
    margin-left: 60px;
}
.secarticleimg{
    box-shadow: 0px 10px 10px 10px blue;
}
.firstimg{
    box-shadow: 8px 8px blue;
}
.secimg{
    box-shadow: -8px 8px blue;
}
@media (max-width:1024px) {
    .fullheader{
        width: 90%;
    }
    .firstblock{
        width: 90%;
    }
    .firstpic{
        height: 350px;
    }
    .secpic{
        height: 440px;
        width: 500px;
    }
    .firstarticle{
        width: 90%;
    }
    a{
        font-size: 12px;
    }   
}
@media (max-width:420px) { 
    .fullheader{
        padding: 10px 0;
    }
    .sendvitch{
        display: inline-block;
        height: 45px;
    }
    .sendvitch img{
        width: 100%;
        height: 100%;
    }
    .logo a img{
        width: 60px
    }
    .navigation ul{
        display: none;
    }
    .firstblock{
        width: 100%;
        padding-bottom: 30px;
    }
    .firstpic{
        height: 170px;
        margin-top: 35px;
    }
    .secpic{
        height: 230px;
        width: 250px;
    }
    .dots{
        display: none;
    }
    .first{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }
    .dots2{
        display: flex;     
    }
    .dots2 span{
        height: 7px;
        width: 7px;
        margin: 0 7px;
        background-color: white;
        border-radius: 90px;
    }
    h2{
        max-width: 200px;
        margin: 0 auto;
    }
    .firstarticle{
        flex-wrap: wrap-reverse;
        padding-top: 0px;
        max-width: 400px;
        width: 100%;
    }
    .articleimg{
        margin-top: 110px;
        box-shadow: none;
        max-width: 400px;
        width: 100%;
    }
    .secarticle{
        flex-wrap: wrap;
        max-width: 400px;
        width: 100%;
    }
    .articletext{
        max-width: 356px;
        width: 90%;
        margin: 30px auto;  
    }
    .articletext p{
        width: 100%;
        margin-top: 40px;
    }
    .articletext2 {
        margin-left: 0px;
        width: 90%;
        margin: 30px auto;
    }
    .articleimg{
        border-radius: none;
    }  
}